html{
    background: url("./back.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
.registration{
    width: 500px;
    height: 550px;
    background:url("./onam.png");
    border-radius: 5px;
    padding-top: 5px;   
    background-size: cover;
    background-repeat: no-repeat;
}

fieldset{
    text-align: left;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}