*{
    margin: 0;
}
.box{
    width: 500px;
    height: 500px;
    background-color:blue;
    display: flex;
    flex-direction: row;
    align-self: flex-end;

}
.inner-box{
    
    background-color: firebrick;
    border: 1px solid black;
    /* flex: 10 50 200px; */
}