*{
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    
}
nav > img{
    position:fixed;
    left: 30px;
    top: 25px;
    
}
/*link is for subscribe*/
.link-sub{
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 20px;
    align-self: stretch;
    position: sticky;
}
.link-sub a{
    color:orange;
    opacity: .5;
    font-family: sans-serif;
    
}
/*nav is for links home,profile etc*/ 
.nav{
    background-color: black;
    position: absolute;
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.links {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    transition: 0.3s;
    color:white;
}
.links::after {
    position: absolute;
    content: attr(data);
    height: 100%;
    width: 8rem;
    padding-left: 1rem;
    font-size: 1.05rem;
    text-align: left;
    transform: translate(-25%,0);
    opacity: 0;
    transition: 0.3s;
    
}
.nav:hover > .links::after {
    opacity: 1;
    transform: translate(0,0);
}
.links:hover {
    transform: scale(1.1);
    font-weight: 900;
}
.main-image{
    position: fixed;
    width: 100%;
    aspect-ratio: 16/9;
    background-image: url("./peakpx.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}

/* scroll section */
.main-body-design{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow-y: scroll;
}
.main-scroll-body{
    width: 100%;
    height: 200%;
    background : linear-gradient(to bottom,transparent calc(100vw * calc(5/16)),black calc(100vw*calc(6.8/16)));
}
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 570px;
    gap: 1rem;
    color: white;
    aspect-ratio: 16/9;
}
.title >img{
    padding-left: 140px;
    padding-top: 250px;
}
.intro{
    color: whitesmoke;
    height: 10px;
    width: 380px;
    padding-left: 140px;
    line-height: 25px;
    font-family: "Gill Sans", sans-serif;;
    font-weight: 300;
}
.times{

    padding-left: 150px;
    font-weight: bolder;
}
.times > span{
    background-color:  #d1d1d18c;
    border-radius: 5px;
    padding: 5px;
}
.buttons {
    width: 50%;
    padding-top: 70px;
    padding-left:145px;
}
.buttons > button {
    background-color: #d1d1d18c;
    height: 3rem;
    width: 18rem;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
    color: white;
    font-weight: bolder;
    transition: 0.2s;
}
.buttons > button:last-child{
    width: 3rem;
}

.latest-release {
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
}
.latest-release > h2 {
    width: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.select-card{
        flex-direction: column;
        border-radius: 0.5rem;
        background-image: url("./card.jpg");
        width: 160px;
        height: 275px;
        background-size: cover;
        background-position: center;
        margin-right: 10px;
}
