*{
 margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    max-width:initial;
    height: 30px;
    background-color: rgb(70, 197, 53);
    gap: 40px;
    padding-left: 40px ;
    align-items: center;
    padding-block: 20px;
}
.box{ 
    background-color: red;
}