/* a:visited{:
    color:yellow;
} */
a:active{
    color: aqua;
}
input:focus{
    color: blue;
}
input:valid{
color: green;
background-color: aquamarine;
}
input:invalid
{
color: red;
background-color: blueviolet;
}
input:required{
    background-color: rgb(128, 98, 0);
}
div input:optional{
background-color: blue;
}
div input:disabled{
    background-color: chartreuse;
}
div button:hover{
    background-color: blueviolet;
    color: red;
}
input:read-only{
    background-color: rgb(128, 37, 14);
}